<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.laskin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Laskin"
            android:label="Laskin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FunktioLaskin"
            android:label="FunktioLaskin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Yksikönmuuntaja"
            android:label="Muuntaja"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YksikköAlue"
            android:label="Alue"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YksikköPituus"
            android:label="Pituus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YksikköMassa"
            android:label="Massa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YksikköLämpötila"
            android:label="Lämpötila"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Historia"
            android:label="Historia"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>